<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{css/sb-admin.css}"/>

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <!-- Page level plugin CSS-->
        <link th:href="@{css/dataTables.bootstrap4.css}" rel="stylesheet">

        <script th:inline="javascript">
            /*<![CDATA[*/


            /*]]>*/
        </script>
    </head>

    <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sistema de Alquileres</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/admin">Dashboard <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/indexUser">Clientes</a>
                <a class="nav-item nav-link" href="/indexEquipos">Equipos</a>
                <a class="nav-item nav-link" href="/indexFamilia">Familias</a>
                <a class="nav-item nav-link" href="/indexAlquiler">Alquileres</a>
                <a class="nav-item nav-link" href="/indexEntrega">Entregas</a>
                <a class="nav-item nav-link" href="/historial">Historial</a>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="es"><button>ESP</button></a>
                </li>
                <li class="nav-item">
                    <a id="en"><button>ENG</button></a>
                </li>
            </ul>
        </div>



        <!-- Navbar -->

    </nav>

    <div id="wrapper">

        <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Pag Content -->

            <h1 th:text="#{promedio}">Promedio</h1>
            <hr>
            <div id="chartContainer" style="height: 360px; width: 100%;"></div>
        </div>
        <!-- /.container-fluid --></div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


    <script th:inline="javascript" >
        var diasTotales = /*[[${diasTotales}]]*/ 'default';
        var f = /*[[#{familia}]]*/ 'default';
        var p = /*[[#{promedio}]]*/ 'default';
        var t = /*[[#{graficaTitulo}]]*/ 'default';
        var d = /*[[#{dias}]]*/ 'default';
        var tamano = /*[[${famDias.size()}]]*/ 'default';
        /*<![CDATA[*/


        var famDias = /*[[${famDias}]]*/ null;


        /*]]>*/

        var average;
        var dps = [];
        var chart= new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title:{
                text: t
            },
            axisY: {
                title: d,
                stripLines: [
                    {
                        value : null,
                        label: p +": ",
                        labelAlign: "near",
                        labelPlacement: "outside"

                    }
                ]
            },axisX: {
                title: f
            },
            data: [{
                type: "column",
                dataPoints : famDias
            }]

        });

        var i = 0;



        var sum = 0;
        var length = chart.options.data[0].dataPoints.length;
        for( var i = 0; i < length; i++ )
            sum += chart.options.data[0].dataPoints[i].y;
        average = sum / length;


        chart.options.axisY.stripLines[0].value = average;
        chart.options.axisY.stripLines[0].label += average.toPrecision(3);

        chart.render();
    </script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{js/jquery.easing.min.js}"></script>


<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#es").click(function () {
                var selectedOption = $(this).attr('id');
                    window.location.replace('admin?lang=' + selectedOption);

            });
            $("#en").click(function () {
                var selectedOption = $(this).attr('id');
                window.location.replace('admin?lang=' + selectedOption);

            });
        });
    </script>
</body>

</html>
