<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Entregas</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/sb-admin.css}"/>

    <!-- Page level plugin CSS-->
    <link th:href="@{css/dataTables.bootstrap4.css}" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sistema de Alquileres</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/admin">Dashboard <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/indexUser">Clientes</a>
            <a class="nav-item nav-link" href="/indexEquipos">Equipos</a>
            <a class="nav-item nav-link" href="/indexFamilia">Familias</a>
            <a class="nav-item nav-link" href="/indexAlquiler">Alquileres</a>
            <a class="nav-item nav-link" href="/indexEntrega">Entregas</a>
            <a class="nav-item nav-link" href="/historial">Historial</a>
        </div>
    </div>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="es"><button>ESP</button></a>
            </li>
            <li class="nav-item">
                <a id="en"><button>ENG</button></a>
            </li>
        </ul>
    </div>


</nav>



    <!-- Navbar -->

</nav>

<div id="wrapper">




    <div id="content-wrapper">

        <div class="container-fluid">



            <table class="table">
                <tr>
                    <th th:text="#{cli}">Cliente</th>
                    <th th:text="#{fecha}">Fecha Registrada</th>
                    <th th:text="#{fechaEntrega}">Fecha de Entrega</th>
                    <th th:text="#{equipo}">Equipos</th>
                    <th th:text="#{costoActual}">Costo</th>
                </tr>
                <th:block th:each="alquiler : ${alquileres}">

                    <tr>
                        <td th:text="${alquiler.client.name}">...</td>
                        <td th:text="${alquiler.date}">...</td>
                        <td th:text="${alquiler.deliveryDate}">...</td>
                        <td>
                            <ul>
                                <th:block th:each="equip : ${alquiler.equipRental}">

                                    <li th:text="${equip.equip.name} + ' - '+${equip.cantidadRentada} +' Stock'"> </li>

                                </th:block>
                            </ul>
                        </td>

                        <td th:text="${alquiler.cost}"></td>
                    </tr>
                </th:block>
            </table>

        </div>
        <!-- /.container-fluid -->



    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->



<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{js/jquery.easing.min.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#es").click(function () {
            var selectedOption = $(this).attr('id');
            window.location.replace('indexEntrega?lang=' + selectedOption);

        });
        $("#en").click(function () {
            var selectedOption = $(this).attr('id');
            window.location.replace('indexEntrega?lang=' + selectedOption);

        });
    });
</script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

</body>

</html>
